/**
 * Get ${4:Description...}
 *
 * @return ${3:type}
 */
public function get${1:CapitalizedName}()
{
    return $this->${2:nonCapitalizedName};
}

/**
 * Set $4
 *
 * @param $3 $$2
 * @return ${5:parent}
 */
public function set$1($3 $$2)
{
    $this->$2 = $$2;

    return $this;
}

${6}
