/**
 * Get ${4:Description...}
 *
 * @return ${3:type}[]
 */
public function get${1:CapitalizedName}()
{
    return $this->${2:nonCapitalizedName};
}

/**
 * Set $4
 *
 * @param $3[] $$2
 * @return `Filename()`
 */
public function set$1(array $$2)
{
    $this->$2 = $$2;

    return $this;
}

/**
 * Add ${5:Plural description}
 *
 * @param $3[] $$2
 * @return `Filename()`
 */
public function add$1()
{
    $this->$2[] = $$2;

    return $this;
}
