<?php
/**
 * `Filename()`.php
 *
 * ABC Manager 5
 *
 * @category        ${1:category}
 * @package         ${2:package}
 * @subpackage      ${3:subpackage}
 * @copyright       Copyright (c) 2010 Angry Bytes BV (http://www.angrybytes.com)
 */

/**
 * ${4:classname}
 *
 * ${5:Description...}
 *
 * @category        $1
 * @package         $2
 * @subpackage      $3
 */
class $4
{
    $6
}
