<?php
/**
 * `Filename()`.php
 *
 * @package         ${1:package}
 * @subpackage      ${2:subpackage}
 */

namespace ${4:`substitute(substitute(expand("%:h"), '\v^\w+\/(\u)', '\1', ''), '\/', '\\\', 'g')`};

/**
 * `Filename()`
 *
 * ${5:Description...}
 *
 * @category        ${3:category}
 * @package         $1
 * @subpackage      $2
 */
class `Filename()`
{
    $7
}
